<div class="editation_menu"> 
  <%= link_to('graph', { :controller => 'sales', :action => 'index' } )  %>
  <%= link_to('sales', { :controller => 'sales', :action => 'list' } )  %>
</div>
<% form_for(@sale, :url => { :action => 'graph' }) do |f| %>  
<br />  
Choose time schedule for stats of products sales  in graph
<br />
<br />
From:<td ><%=  datetime_select('st', 'start_date', :order => [:day, :month, :year]) %></td><br />
To:&nbsp&nbsp&nbsp&nbsp<td ><%=  datetime_select('et', 'end_date', :order => [:day, :month, :year]) %></td><br />
 
<!--for concrete products <%= collection_select(:products, :id, Product.all, :id, :name, options = {:prompt => "-Select a product"}, :class =>"payment") %> or
for concrete collection of products<%= collection_select(:packs, :id, Pack.all, :id, :name, options = {:prompt => "-Select a collection"}, :class =>"payment") %><br /> 
for concrete user<%= collection_select(:users, :id, User.all, :id, :email, options = {:prompt => "-Select a user"}, :class =>"payment") %>--> 
<br /><br />
<%= f.submit 'Get graph' %>
<% end %>  

<br />
