<%= javascript_include_tag 'jquery', 'jquery.dataTables' %>    
<div class="editation_menu"> 
  <%= link_to 'New package', :action => 'new' %>
</div>
<div class="sub-list"><script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#packages').dataTable();
			} );
</script>	  
<table table cellpadding="0" cellspacing="0" border="0" class="display" id="packages">
  <thead>
   <tr>    
      <th>Name</th>
      <th>Price</th>
      <th>link</th>
      <th>link</th>
      <th>link</th>
      <th>link</th>
   </tr>
  </thead>
  <% even = 0
  for pack in @packs 
  even+=1 -%>
  <tr id="<%= pack.id %>" <%= "class=\"even\"" if (even % 2)==0 %>>
    <td><%= link_to pack.name, { :action => 'show', :id => pack.id  } %></td>
    <td><%= number_to_usd(pack.total_price) %></td>    
    <td><%= link_to 'Show', {:action => 'show',:id => pack.id} %></td>
    <td><%= link_to 'Edit', {:action => 'edit', :id => pack.id} %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy',:id => pack.id}, :confirm => 'Are you sure?', :method => :delete %></td>
    <td><%= link_to('Products', {:action => 'show_products', :pack_id => pack.id },  {:title => 'Administrate products in package'} )  %></td>
  </tr>
<% end %>
</table>

<br />



