<table class="show-table" cellpadding="0" cellspacing="0">
  <tr>
    <th>Name</th>
    <td><%= @pack.name %></td>
  </tr>
</table>
<br/>

<h2>Products</h2>
<table class="show-table" cellpadding="0" cellspacing="0">
  <% @pack.products.each do |product| -%>
    <tr>
      <th>Name</th>
      <td><%= product.name %></td>      
      <th>Delete from package</th>
      <td><%= link_to 'Delete', {:action => 'del_product_from_pack', :pack_id => @pack.id, :product_id => product.id} %></td>
    </tr>
  <% end -%>  
</table>
<br/>

<%= link_to 'Edit', {:action => 'edit',:id => @pack.id} %> |
<%= link_to 'Back', :action => 'index' %>