<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#downloads').dataTable();
			} );
</script>		
<table cellpadding="0" cellspacing="0" border="0" class="display" id="downloads">
  <thead>
   <tr>    
      <th>Name</th>
      <th>Price</th>
      <th>Show details</th>
      <th>Download links</th>
   </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <td>{{ product.name | truncate: 20 }}</td>
      <td>{{ product.price|number_to_usd }}</td>      
      <td>
        <a href="/products/show/{{product.id}}">show</a>
      </td>
      <td>
        <a href="/products/download_links/{{product.id}}">download links</a>
      </td>    
    </tr>
  {% endfor %}
  {% for pack in packs %}
  <tr>    
    <td>{{ pack.name | truncate: 20 }}</td>
    <td>{{ pack.price|number_to_usd }}</td>    
    <td>
      <a href="/packs/show/{{pack.id}}">show</a>
    </td>
    <td>
      <a href="/products/download_links/{{product.id}}">download links</a>
    </td>    
  </tr>
{% endfor %}    
  <tbody>
</table>