<div class="editation_menu"> 
  <%= link_to 'New category', :action => 'new' %>
</div>
<div class="sub-list">
<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#categories').dataTable();
			} );
</script>	  
<table table cellpadding="0" cellspacing="0" border="0" class="display" id="categories">
  <thead>
   <tr>
    <th>Name</th>
    <th>link</th>
    <th>link</th>
    <th>link</th>  
   </tr>
  </thead>
  <tbody>
  <% for category in @categories -%>
  <tr>
    <td><%= link_to category.name, { :controller => 'categories', :action => 'show', :id => category.id  } %></td>
    <td><%= link_to 'Show', {:action => 'show',:id => category.id} %></td>
    <td><%= link_to 'Edit', {:action => 'edit', :id => category.id} %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy',:id => category.id}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />