 <% form_for :product, :url => { :action => "upload_file", ,:product_id => :product_id }, 
                        :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>
  <%= error_messages_for 'product' %>
<% if flash[:error] -%>
    <h2 class="error"><%= flash[:error] %></h2>
<% elsif flash[:notice] -%>
    <h2 class="notice"><%= flash[:notice] %></h2>
<% end -%>


<%= f.label :name %>
<%= f.text_field :name %><br/>
<%= f.label :file %>
<%= f.file_field :attachment %><br/>
<%= submit_tag "Upload" %>   
  
  <% end %>