<h2>Product</h2>
<table class="show-table" cellpadding="0" cellspacing="0">
  <tr>
    <th>Product name</th>
    <td><%= @product.name %></td>
    <th>Price</th>
    <td><%= @product.price %></td>    
  </tr>
</table>
<br/>
<table class="show-table" cellpadding="0" cellspacing="0">
  <tr>    
    <th>Description</th>
    <td><%= @product.description %></td>
    <th>Link for your page</th>
    <% if @product.weblink %>
      <td><%= h @product.weblink %></td>
    <% else %>
      <td><%= link_to('Generate link for your page.', :action => 'generate_link', :id => @product.id) %></td>
    <% end %>
  </tr>
</table>
<br/>
<br/>

<h2>Attachments</h2>
<table class="show-table" cellpadding="0" cellspacing="0">
  <% @product.attachments.each do |attachment| -%>
    <tr>
      <th>Name</th>
      <td><%= attachment.file_file_name %></td>
      <th>Link to download</th>
      <td><%= link_to('download', :action => 'download', :attachment_id => attachment.id) %></td>
      <th>Delete from product</th>
      <td><%= link_to 'Delete', {:controller => 'attachments', :action => 'destroy', :attachment_id => attachment.id, :id => @product.id} %></td>
    </tr>
  <% end -%>  
</table>
<br/>

<%= link_to 'Edit', {:action => 'edit',:id => @product.id} %> |
<%= link_to 'Back', :action => 'index' %>|
<%= link_to 'Add  file to product', :action => 'new_attachment', :product_id => @product.id %>