<h1>Categories for product: <%= @product.name %></h1>
<div class="sub-list">
  <h2>Already in product</h2>
  <table class="common-table" cellpadding="0" cellspacing="0">
  <th>Name</th>
  <th></th>
  <% even = 0
   for pc in @products_category
     even+=1 -%>
    <tr <%= "class=\"even\"" if (even % 2)==0 %>>
      <td><%= pc.name %></td>
      <td class="links">
        <%= link_to '&nbsp Delete', { :controller => 'products', :action => 'del_category_from_product', :product_id => @product.id, :category_id => pc.id } %>
      </td>
    </tr>
  <% end %>
  </table>
</div>
<br/>
<div class="sub-list">
  <h2>Categories possible add for product</h2>
  <table class="common-table" cellpadding="0" cellspacing="0">
  <th>Name</th>
  <th></th>
  <% even = 0
   for category in @category_all
     even+=1 -%>
    <tr <%= "class=\"even\"" if (even % 2)==0 %>>
      <td><%= category.name %></td>
      <td class="links">
        <%= link_to '&nbsp Add', { :controller => 'products', :action => 'add_category_to_product', :product_id => @product.id, :category_id => category.id } %>
      </td>
    </tr>
  <% end %>
  </table>
</div>