<%= error_messages_for 'user' %>
<% if flash[:error] -%>
    <h2 class="error"><%= flash[:error] %></h2>
<% elsif flash[:notice] -%>
    <h2 class="notice"><%= flash[:notice] %></h2>
<% end -%>

<label for="user_email"><%= 'Email' %>*</label><br />
<%= text_field 'user', 'email' %><br />

<label for="user_first_name"><%= 'Name' %></label><br />
<%= text_field 'user', 'first_name' %><br />

<label for="user_last_name"><%= 'Surname' %></label><br />
<%= text_field 'user', 'last_name' %><br />

<label for="user_password"><%= 'Password' %>*</label><br />
<%= password_field 'user', 'password' %><br />
    
<label for="user_password_confirmation"><%= 'Password confirmation' %>*</label><br />
<%= password_field 'user', 'password_confirmation' %><br />

<label>Captcha*</label><br />
<%= show_simple_captcha(:object=>"user", :label=>"type the code from the image(case sensitive)")%> 


