<%= error_messages_for 'user' %>
<% if flash[:error] -%>
    <h2 class="error"><%= flash[:error] %></h2>
<% elsif flash[:notice] -%>
    <h2 class="notice"><%= flash[:notice] %></h2>
<% end -%>

<label for="user_old_password"><%= 'Old password' %>*</label><br />
<%= password_field 'pass', 'old_password' %><br />

<label for="user_password"><%= 'Password' %>*</label><br />
<%= password_field 'user', 'password' %><br />
    
<label for="user_password_confirmation"><%= 'Password confirmation' %>*</label><br />
<%= password_field 'user', 'password_confirmation' %><br />