<%= javascript_include_tag 'jquery', 'jquery.dataTables' %>    
<div class="editation_menu"> 
  <%= link_to 'New user', :action => 'new' %>
</div>
<div class="sub-list">
<script type="text/javascript" charset="utf-8">
			$(document).ready(function() {
				$('#user').dataTable();
			} );
</script>	  
<table table cellpadding="0" cellspacing="0" border="0" class="display" id="user">
  <thead>
   <tr>    
    <th>Email</th>
    <th>Full name</th>    
    <th>link</th>
		<th>link</th>
		<th>link</th>
   </tr>
  </thead>
  <tbody>
<% for user in @users -%>
  <tr>
    <td><%= link_to user.email, { :controller => 'users', :action => 'show', :id => user.id  } %></td>
    <td><%= user.full_name %></td>    
    <td><%= link_to 'Show', {:action => 'show',:id => user.id} %></td>
    <td><%= link_to 'Edit', {:action => 'edit', :id => user.id} %></td>
    <td><%= link_to 'Destroy', {:action => 'destroy',:id => user.id}, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tbody>
</table>
<br />
		
		
		


	