<h1>User detail</h1>
<table class="show-table" cellpadding="0" cellspacing="0">
  <tr>
    <th>Email</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Jméno</th>
    <td><%= @user.first_name %></td>
  </tr>
  <tr>
    <th>Příjmení</th>
    <td><%= @user.last_name %></td>
  </tr>
</table>
<br/>

<%= link_to 'Edit', {:action => 'edit',:id => @user.id} %> |
<%= link_to 'Back', :action => 'index' %>



